EasyLexML {
	max-width: 42rem;
	margin-left: calc(50% - 21rem);
	margin-top: 2rem;
	font-family: sans-serif;
	font-size: 12pt;
	font-variant-numeric: tabular-nums;
}
metadata, sub {
	display: block;
}
sec, toc {
	display: block;
	margin-top: 2rem;
}
sec > label, toc > label {
	content: attr(label);
	text-align: center;
	width: 100%;
	display: block;
	font-weight: bold;
	margin-bottom: 1rem;
}
p > label {
	margin-right: 0.5rem;
}
cls {
	display: block;
	margin-bottom: 1rem;
}
ul {
	display: block;
	margin-left: 2rem;
}
li {
	display: block;
}
p {
	display: inline-block;
}
p > label {
	color: #AAA;
	display: inline-block;
}
metadata title {
	display: block;
	font-size: 20pt;
	text-align: center;
}
metadata * {
	display: none;
}
toc {
	display: block;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid black;
}
corpus {
	display: block;
	padding-top: 1.5rem;	
}